@model ProyectoDSW_Cosmeticos.Models.Producto

@{
    ViewData["Title"] = "AgregarACarrito";
}
<style>
    .imgportal {
        
        height: 200px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10px
    }
</style>
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - Bueno Barato y Bonito!!!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-5">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Mantenimiento/ListaProductos">Productos</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Resumen" asp-controller="EComerce" class="btn btn-warning">Carrito</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Agregar al Carrito</h1>
<div>
    <h4>Producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.idproducto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.idproducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombreproducto)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombreproducto)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombrecategoria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombrecategoria)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.precio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.precio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.unidades)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.unidades)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <img class="imgportal" src="@Url.Content($"~/img/{Model.idproducto}.jpg")" />
        </div>
    </div>
</div>

<div>
    <form action="AgregarACarrito" method="post">
        @Html.Hidden("idproducto",Model.idproducto)
        <div class="row">
            <div class="col-md-2">Ingrese la cantidad</div>
            <div class="col-md-10">@Html.TextBox("cantidad",1, new{type="number", min=1, max=Model.unidades})</div>
            <div class="col-md-2"><input type="submit" value="Agregar" class="btn btn-primary" /></div>
            <div class="col-md-2"><a asp-action="Portal" class="btn btn-primary">Retornar al Portal</a></div>
        </div>
    </form>
    <div class="alert-success">
        @ViewBag.mensaje
    </div>
</div>