@model IEnumerable<ProyectoDSW_Cosmeticos.Models.ItemProducto>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrecategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrecategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
        </tr>
}       
        <tr>
            <td colspan="5">Total del Peido</td>
            <td>@Model.Sum(c=>c.monto)</td>
        </tr>
    </tbody>
</table>
