@model IEnumerable<ProyectoDSW_Cosmeticos.Models.ItemProducto>

@{
    ViewData["Title"] = "Resumen";
}
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - Bueno Barato y Bonito!!!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-5">

            </ul>
        </div>
    </div>
</nav>
<div class="d-flex gap-3 justify-content-between align-items-center mt-5 pt-4">
    <h1>Carrito</h1>
    <div>
    <a asp-action="Portal" class="btn btn-warning">Seguir comprando</a>
    <a asp-action="Comprar" class="btn btn-success">Realizar Compra</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrecategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrecategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new {id=item.idproducto, q=item.cantidad },new{ @class = "btn btn-danger" })
            </td>
        </tr>
}   
    <tr>
        <td colspan="5">Total del Pedido</td>
        <td>@Model.Sum(c=>c.monto)</td>
    </tr>
    </tbody>
</table>
