@model IEnumerable<ProyectoDSW_Cosmeticos.Models.Usuario>

@{
    ViewData["Title"] = "listaUsuarios";
}

<h1>ListaUsuarios</h1>

<p>
    <a class="btn btn-primary" asp-action="AgregarUsuario">Registrar nuevo Usuario</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.intentos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarUsuario", new { id=item.Dni },new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Eliminar", "EliminarUsuario", new { id=item.Dni },new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>@ViewBag.mensaje</div>
<div>
    <a class="btn btn-primary" href="/EComerce/Portal">Regresar al Portal</a>
</div>