@model IEnumerable<ProyectoDSW_Cosmeticos.Models.Pedido>

@{
    ViewData["Title"] = "ListaPedidos";
}
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - MANTENIMIENTOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-3">
                <li class="nav-item">
                    <a asp-action="ListaProductos" asp-controller="Mantenimiento" class="btn btn-outline-light">Productos</a>
                </li>
                <li class="nav-item">
                    <a asp-action="listaUsuarios" asp-controller="Mantenimiento" class="btn btn-outline-light">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaCategorias" asp-controller="Mantenimiento" class="btn btn-outline-light">Categorias</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaPedidos" asp-controller="Mantenimiento" class="btn btn-outline-light">Pedidos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mt-5 pt-4">
    
<h1>Lista de Pedidos</h1>
<hr />
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idpedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fpedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idpedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fpedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                        @Html.ActionLink("Details", "ListaPedidosDetalle", new { id=item.idpedido  } ,new { @class = "btn btn-primary" })
                        <!--  @Html.ActionLink("Delete", "Delete", new { id=item.idpedido})-->
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-dark" href="/EComerce/Portal">ir al Portal</a>
</div>
</div>