@model IEnumerable<ProyectoDSW_Cosmeticos.Models.Producto>

@{
    ViewData["Title"] = "ListaProductos";
}
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - MANTENIMIENTOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-3">
                <li class="nav-item">
                    <a asp-action="ListaProductos" asp-controller="Mantenimiento" class="btn btn-outline-light">Productos</a>
                </li>
                <li class="nav-item">
                    <a asp-action="listaUsuarios" asp-controller="Mantenimiento" class="btn btn-outline-light">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaCategorias" asp-controller="Mantenimiento" class="btn btn-outline-light">Categorias</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaPedidos" asp-controller="Mantenimiento" class="btn btn-outline-light">Pedidos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mt-5 pt-4">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Lista de Productos</h1>
        <a class="btn btn-success" asp-action="AgregarProducto">Registrar</a>
    </div>
<hr/>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreproducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrecategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidades)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrecategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidades)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarProducto", new { id=item.idproducto },new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Eliminar", "EliminarProducto", new {id=item.idproducto },new { @class = "btn btn-danger" }) 
            </td>
        </tr>
}       
    </tbody>    
</table>
<div>@ViewBag.mensaje</div>
<div>
<a class="btn btn-dark" href="/EComerce/Portal">ir al Portal</a>
</div>
</div>